// body{width:100%;}
.app {
  width:100%;
  min-height : 300vh;
  box-sizing: border-box;
  color: white;
  padding-left: 7%;
  padding-right: 7%;
  // position: relative;
  letter-spacing: 0.1rem;
  font-family: 'Roboto Slab';
  background-color:#1E1E1E;
}

