#hamburger__menu__icon {
  color:white;
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem;
}
#close__modal__icon
{
  color:white;
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem;
}

#hamburger__menu {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 100%;
  z-index: 999;
  width: 100%;
}

.item {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 2rem 0rem;

}
a{
  color: white;
  margin: auto;
  padding: 2rem;
  font-size: 3rem;
  margin: 1rem;
}
.item:hover {
  background-color: black;
  font-size: 1.2em;
}

