@use 'src/styles/vars'as v;

@keyframes animBurger {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }

  25% {
    transform: translateX(75vw);
    opacity: 0.20;
  }

  50% {
    transform: translateX(50vw);
    opacity: 0.40;
  }

  75% {
    transform: translateX(25vw);
    opacity: 0.65;
  }

  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

.header {
  z-index: 999;
  padding-top: 10px;
  margin-bottom: 2rem;
  height: 5.24rem;
  background-color: v.$very-dark;
  width: 60%;
  position: fixed;
  padding-left: 2rem;
  top: 0;
  left: 0;

  @media screen and (min-width:768px) and (max-width:1500px) {
    padding-left: 0px;
    height: 5.6rem;
    width: 100%;
  }

  @media screen and (max-width:768px) {
    padding-left: 10px;
    height: 4rem;
    width: 100%;
  }


  h1 {
    font-family: 'Varela Round';
    display: inline;
    position: relative;
    top: -58px;
    text-decoration: none;
    padding-top: 1.1rem;
    margin: 0 2rem;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;

    @media screen and (min-width:769px) and (max-width:1269px) {
      font-size: 1.3rem;
      top: -65px;
    }

    @media screen and (max-width:768px) {
      font-size: 1.2rem;
      top: -25px;
    }
  }

  h1:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 1px;
    transition: 0.4s cubic-bezier(0.72, -0.01, 0.19, 0.92);
    background: white;
  }

  h1:hover:after {
    width: 100%;
    transform: scale(1.01);
  }

  &__img {
    border-radius: 50%;
    width: 110px;
    cursor: pointer;

    @media screen and (max-width:768px) {
      position: relative;
      top: 2px;
      left: 2px;
      height: 50px;
      width: 50px;
    }
  }

  &__img:hover {
    background-color: v.$dark;
    transform: scale(1.01);
    transition: 0.4s;
  }
}

#navbar_menu {
  font-family: 'Varela Round';
  background-color: v.$very-dark;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0rem 12.5rem 0rem 1rem;
  width: 40%;
  padding-left: 0rem;

  @media screen and (min-width:769px) and (max-width:1269px) {
    width: 30%;
  }

  @media screen and (min-width:1260px) and (max-width:1500px) {
    margin: 0 20.5rem 0 1rem;
  }

  @media screen and (max-width:768px) {
    display: none;
  }

  .item {
    border: none;
  }

  a {
    border: none;
    display: inline;
    position: relative;
    text-transform: uppercase;
    padding-top: 0.5rem;
    margin: 0 2rem;
    font-size: 2.2rem;
    background: -webkit-linear-gradient(0.20turn, #30CFD0, #9753eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

    @media screen and (min-width:769px) and (max-width:1269px) {
      font-size: 1.2rem;
      padding-top: 1.1rem;
      margin: 0 0.1rem 0 0.1rem;
    }
  }

  a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 1px;
    transition: 0.4s cubic-bezier(0.72, -0.01, 0.19, 0.92);
    background: white;
  }

  a:hover:after {
    width: 100%;
    transform: scale(1.01);
  }

}

#hamburger__menu {
  margin-top: -10px;
  display: flex;
  position: fixed;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 110%;
  width: 100%;
  background-color: v.$dark;
  z-index: 998;
  animation: animBurger 0.32s ease;
  transition: 0.2s;

  a {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .item {
    text-align: center;

    p {
      margin: auto;
      width: 273px;
      background: -webkit-linear-gradient(0.20turn, #30CFD0, #9753eb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.3rem;
      font-weight: bold;
      border-bottom: 1px solid #30CFD0;
    }

    a {
      margin: auto;
      width: 290px;
      background: -webkit-linear-gradient(0.20turn, #30CFD0, #9753eb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.3rem;
      font-weight: bold;
    }

    .hamburger__contact {
      font-size: 1.3rem;
      line-height: 2;
      text-transform: none;
    }
  }

  @media screen and (min-width:768px) {
    display: none;
  }
}

#hamburger__menu__icon:active~#hamburger__menu {
  filter: blur(0.95rem);
}

#hamburger__menu__icon {
  z-index: 999;
  position: fixed;
  right: 10px;
  top: 2;
  background: -webkit-linear-gradient(0.20turn, #30CFD0, #9753eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (min-width:768px) {
    display: none;
  }
}
