.Footer{
     background-color:#1E1E1E;
     width: 100%;
     margin-top: 6rem;
     display: flex;
     text-align: center;
     justify-content: center;
     
     // margin-left:auto ;
     &__infos{
          margin: 2rem 4rem;
     }&__menu{
          margin: 2rem 4rem;
     }&__social{
          margin: 2rem 4rem;
     }&__copyright{
          font-size: 0.9rem; 
     }h2{
          padding-bottom: 1rem;
     }li{
          font-weight: bold;
          padding-bottom: 10px;
          font-size: 1.2rem;
     }p{
          font-weight: bold;
          padding-bottom: 2px;
          font-size: 1.2rem; 
     }
}



//media

// desktop
@media(min-width: 1389px)
{

}

// tablette
@media(min-width: 768px) and (max-width: 1388px)
 {
 }

 // smartphone
@media(max-width: 767px)

{


}