@use 'src/styles/vars' as v;

.Footer{
     background-color: v.$very-dark;
     width: 100%;
     margin-top: 6rem;
     display: flex;
     text-align: center;
     justify-content: center;
     padding-top: 7rem;
     
     &__infos{
          margin: 2rem 4rem;
     }&__menu{
          margin: 2rem 4rem;
     }&__link{
          list-style: none;
          padding: 1.4rem 0;
     }&__social{
          margin: 2rem 4rem;
     }&__icon{
          list-style: none;
          padding: 1.4rem 0;
     }&__social-icon:hover{
          transform: scale(1.7);
     }&__copyright{
          font-size: 0.9rem; 
     }h1{
          padding-bottom: 1rem;
     }li{
          font-weight: bold;
          padding-bottom: 10px;
          font-size: 1.2rem;
     }p{
          font-weight: bold;
          padding-bottom: 2px;
          font-size: 1.2rem; 
     }&__link-a{
          padding: 0.2rem 0;
          border: none;
          position: relative;
     }&__link-a:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 8px;
          width: 0%;
          left: 0px;
          height: 1px;
          transition: 0.4s cubic-bezier(0.72,-0.01, 0.19, 0.92);
          background: white;
     }&__link-a:hover:after {
          width: 100%;
          transform: scale(1.01);
}
a{
     color: white;
}
}
.sr-only{
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     white-space: nowrap; /* added line */
     border: 0;
}



//media

// desktop
@media(min-width: 1389px)
{

}

// tablette
@media(min-width: 768px) and (max-width: 1388px)
 {
 }

 // smartphone
@media(max-width: 767px)

{
     .Footer{
          background-color: v.$very-dark;
          &__infos{
               margin: 0rem 0.6rem;
          }&__menu{
               margin: 0rem 0.6rem;
               padding-right: 15px;
          }&__link{
               list-style: none;
               padding: 1rem 0;
          }&__social{
               margin: 0rem 0.6rem;
               li{
                    padding-left: 0.2rem ;
               }
          }&__copyright{
               font-size: 0.5rem; 
          }h1{
               margin-top: -3px;
               padding-bottom: 1.3rem;
               font-size: 1.2rem;
          }h2{
               font-size: 1rem;
          }li{
               font-weight: bold;
               padding-bottom: 10px;
               font-size: 0.85rem;
          }p{
               font-weight: bold;
               padding-bottom: 2px;
               font-size: 0.85rem; 
          }
     }
}

@media(max-width: 360px) // tres petit smartphone * FINI
{
     .Footer{
          &__infos{
               margin: 0rem 0.1rem;
               font-size: 0.7rem;
               padding-right: 15px;
          }&__menu{
               margin: 0rem 0.1rem;
               padding-right: 30px;
     }
     &__social{
          margin: 0rem 0.1rem;
          padding-right: 8px;
     }li{
          font-size: 0.65rem;
     }p{
          font-size: 0.65rem; 
     }
     }
}
