.News{
  height: fit-content;
  width: auto;
  margin: 6rem auto 6rem;
  padding: 3rem;
  font-size: 1.6rem;
  h2{
    padding-bottom: 1rem;
  }
  a{
    font-style: italic;
    font-size: 1.7rem;
  }
  a:hover{
  }
}